/* Variables */
:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark: hsl(240, 100%, 5%);
}

/* Containers */
body {
  background-color: var(--off-white);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.container {
  margin-top: 72px;
  max-width: 1024px;
  width: 96%; /*This gives empty space even in mobile*/
  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hamburger-menu-open {
  display: none;
}

.hamburger-menu-wrapper {
  display: none;
}

header .desktop-nav {
  display: flex;
  gap: 36px;
}

header .desktop-nav a {
  color: var(--dark-grayish-blue);
}

/* Main */
main {
  margin-top: 72px;
  display: grid;
  gap: 24px;
}

/* Featured New */
/* section#featured-new {
} */

section#featured-new h1 {
  line-height: 1;
  font-size: 48px;
  width: 12ch;
  font-weight: 800;
  color: var(--very-dark);
  flex: 1;
}

.featured-new-body {
  margin-top: 24px;
}

.featured-new-description {
  flex: 1;
}

.featured-new-description p {
  color: var(--dark-grayish-blue);
}

.featured-new-description button {
  padding: 12px 24px;
  background-color: var(--soft-red);
  color: var(--off-white);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  margin-top: 16px;
}

/* SideBar News */
section#news-sidebar {
  background-color: var(--very-dark);
  color: var(--off-white);
  padding: 16px;
}

#news-sidebar .new-item:not(:last-child) {
  border-bottom: 1px solid #999;
  padding-bottom: 16px;
}

#news-sidebar .new-item:not(:nth-child(2)) {
  padding-top: 16px;
}

#news-sidebar h2 {
  color: var(--soft-orange);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

#news-sidebar h4 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

#news-sidebar p {
  color: var(--grayish-blue);
  margin-bottom: 12px;
}

/* News Bottom */
section#news-buttom {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

/* #news-bottom > * { */
/*news-bottom altındaki 1.seviye bütün elemanlar*/
/* flex: 1; */
/* } */

#news-buttom .bottom-new-item {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
}

.bottom-new-item .bottom-image {
  width: 100%;
}

.bottom-new-item h3 {
  font-size: 24px;
  font-weight: 800;
  color: var(--grayish-blue);
}

.bottom-new-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--very-dark);
}

.bottom-new-item p {
  font-size: 16px;
  color: var(--grayish-blue);
}

/*Width:min-width'den büyük ise grid layout'a yerleştir değilse default -> bu sayede responsive*/
@media (min-width: 1000px) {
  main {
    grid-template-areas:
      "featuredNew featuredNew newSidebar"
      "newsBottom newsBottom newsBottom";
  }

  #featured-new {
    grid-area: featuredNew;
  }

  section#news-sidebar {
    grid-area: newSidebar;
  }

  section#news-buttom {
    grid-area: newsBottom;
  }

  .featured-new-body {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .featured-new-body .featured-new-description {
    margin-top: 12px;
  }

  section#news-buttom {
    flex-direction: column;
    gap: 36px;
  }

  .bottom-image {
    flex: 1;
  }

  .bottom-new-content {
    flex: 2;
  }

  header .desktop-nav {
    display: none;
  }

  header .hamburger-menu-open {
    display: block;
    margin-left: auto;
    margin-right: 24px;
  }

  .hamburger-menu-transparent-overlay {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .mobile-nav-wrapper {
    background-color: var(--off-white);
    flex: 2;
  }

  .mobile-nav {
    margin-left: 36px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 256px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-nav a {
    color: var(--very-dark);
  }

  .close-icon {
    margin-left: auto;
    margin-top: 72px;
    margin-right: 36px;
    width: 50px;
  }

  .hamburger-menu-wrapper {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    transition: left 200ms ease, opacity 200ms ease;
  }

  .open {
    opacity: 100;
    left: 0;
  }
}
